/* Renderer.module.css */

.title h1 {
  font-size: clamp(1.25rem, 4vw, 2.75rem) !important;
  font-weight: 600;
  text-align: left;
}

.rtl.title h1 {
  text-align: right;
}

.textCenter {
  text-align: center;
}

.tableOfContents {
  position: sticky;
  top: 150px;
  height: 100%;
  overflow-y: auto;
  margin-bottom: 24px;
}

@media (max-width: 768px) {
  .contentWrapper {
    flex-direction: column;
  }

  .content {
    order: 1;
  }

  .tableOfContents {
    position: relative;
    top: 0;
    height: auto;
    overflow-y: visible;
  }
}

.image {
  background-color: #ffffff;
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 16px;
  max-height: 500px;
}

.image p{
  display: none;
}

.image img {
  overflow: hidden;
  border-radius: 16px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 16/9;
}

.rtl {
  direction: rtl;
  text-align: right;
}

.blog_post_grp {
  display: flex;
  gap: 8px;
}

.immigrants_btn {
  background-color: var(--congress-blue100);
  color: var(--congress-blue700);
  border-radius: 4px;
  padding: 2px 10px;
  font-size: 14px;
  font-weight: 400;
}

.finding_btn {
  background-color: #f4ebff;
  color: #6941c6;
  border-radius: 4px;
  padding: 2px 10px;
  font-size: 14px;
  font-weight: 400;
}

.published_date {
  color: #6f7d91;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
}

.body p {
  color: var(--primary_color-subtitle);
  font-size: 16px;
  line-height: 1.5;
}

.share_content {
  background-image: url(./assets/social-bg.png);
  background-position: center;
  background-size: cover;
  padding: 20px;
  color: var(--white-color);
  border-radius: 0.5rem;
}

.share_content p {
  font-size: 18px;
}

.socialCompStyle {
  flex-direction: column !important;
  gap: 16px !important;
}

.reletedSection {
  padding: 52px 0 120px 0;
}

.releMain {
  border-bottom: 1px solid var(--congress-blue100);
}

.reletedTitle {
  font-weight: 500;
  color: var(--slate-700) !important;
}
