/* Renderer.module.css */
.title {
  margin-bottom: 20px;
}

.textCenter {
  text-align: center;
}

.contentWrapper {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-direction: row;
}

.content {
  flex: 1;
}

.body {
  margin-top: 20px;
}

.tableOfContents {
  position: sticky;
  top: 150px; 
  height: calc(100vh - 20px); 
  overflow-y: auto;
}

@media (max-width: 768px) {
  .contentWrapper {
    flex-direction: column;
  }

  .content {
    order: 2;
  }

  .tableOfContents {
    position: relative; 
    top: 0;
    height: auto; 
    overflow-y: visible; 
  }
}